@import "tailwindcss";
@config "../../../../tailwind.config.ts";

:root {
  --bg-code: var(--bg-primary);
  --bg-muted: var(--bg-primary);
  --border-color: var(--bg-secondary);
  --text-muted: var(--text-muted);
  --text-secondary: var(--text-muted);
  --text-primary: var(--text-primary);
  --accent-color: var(--color-info);
}

[data-theme="light"] {
  --bg-code: var(--text-primary);
  --bg-muted: var(--text-primary);
  --border-color: var(--text-primary);
  --text-muted: var(--text-muted);
  --text-secondary: var(--text-muted);
  --text-primary: var(--bg-primary);
  --accent-color: var(--color-info);
}
